.model3Container, .modelyContainer, .modelsContainer, .modelxContainer, .panelsContainer, .roofContainer, .accsContainer {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.model3Text, .modelyText, .modelsText, .modelxText, .panelsText, .roofText, .accsText {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.model3Tittle, .modelyTittle, .modelsTittle, .modelxTittle, .panelsTittle, .roofTittle, .accsTittle {
    margin-top: 8%;
    font-size: 20px;;
}

.model3Subtittle, .modelySubtittle, .modelsSubtittle, .modelxSubtittle, .panelsSubtittle, .roofSubtittle {
    margin-top: 10px;
    font-size: 15px;
}

.model3Subtittle>a, .modelySubtittle>a, .modelsSubtittle>a, .modelxSubttile>a {
    color: black;
    text-decoration: underline;
}

.model3Buttons, .modelyButtons, .modelsButtons, .modelxButtons, .panelsButtons, .roofButtons, .accsButtons {
    margin-top: 35%;
    display: inline-block;
    flex-direction: column;
    align-items: center;
}

.model3Leftbtn, .modelyLeftbtn, .modelsLeftbtn, .modelxLeftbtn, .panelsLeftbtn, .roofLeftbtn {
    border-radius:360px;
    height:40px;
    width: 260px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    margin-left: 35vw;
    color:white;
    background-color: black;
    
}

.model3Rightbtn, .modelyRightbtn, .modelsRightbtn, .modelxRightbtn, .panelsRightbtn, .roofRightbtn {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    height:40px;
    width: 260px;
    border-radius:360px;
    color:black;
    background-color: white;
    
}

.accsLeftbtn {
    border-radius:360px;
    height:40px;
    width: 260px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    margin-left: 43vw;
    color:white;
    background-color: black;
}