.Navibar {
    margin: 15px;
    margin-top: 15px;
    width: 100vw;
    top: 0;
    z-index: 100;
    display: flex;
    position: fixed;
    background-color: transparent;
    background: none;  
}

.Logo {
    margin-top: 7px;
    margin-left: 14px;
    margin-right: 10vw;
}

.Center {
    flex: 2;
    display: flex;
    justify-content: center;
    margin-left: 10vw;
}

.Center>a {
    padding:10px;
    border-radius: 25px;
}

.Center>a:link, a:visited {
    color: black;
}

.Center>a:hover {
    background-color: grey;
}

.Right {
    flex: 1;
    display: flex;
    justify-content: right;
    margin-left: 5vw;
    margin-right: 2vw;
}

.Right>a, p {
    padding:10px;
    border-radius: 25px;
}

.Right>a:link {
    color: black;
}

.Right>a:hover, p:hover {
    background-color: grey;
}

