/*!*****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css ***!
  \*****************************************************************/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap);
/*!******************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Navbar.css ***!
  \******************************************************************/
.Navibar {
    margin: 15px;
    margin-top: 10px;
    width: 100vw;
    top: 0;
    z-index: 100;
    display: flex;
    position: fixed;
    background-color: transparent;
    background: none;  
}

.Logo {
    margin-top: 7px;
    margin-left: 14px;
    margin-right: 10vw;
}

.Center {
    flex: 2;
    display: flex;
    justify-content: center;
    margin-left: 10vw;
}

.Center>p {
    margin:10px;
}

.Right {
    flex: 1;
    display: flex;
    justify-content: right;
    margin-left: 5vw;
    margin-right: 1vw;
}

.Right>p {
    margin:10px;
}
/*!****************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Home.css ***!
  \****************************************************************/
.model3Container, .modelyContainer, .modelsContainer, .modelxContainer, .panelsContainer, .roofContainer, .accsContainer {
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.model3Text, .modelyText, .modelsText, .modelxText, .panelsText, .roofText, .accsText {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.model3Tittle, .modelyTittle, .modelsTittle, .modelxTittle, .panelsTittle, .roofTittle, .accsTittle {
    margin-top: 8%;
    font-size: 20px;;
}

.model3Subtittle, .modelySubtittle, .modelsSubtittle, .modelxSubtittle, .panelsSubtittle, .roofSubtittle {
    margin-top: 10px;
    font-size: 15px;
}

.model3Subtittle>a, .modelySubtittle>a, .modelsSubtittle>a, .modelxSubttile>a {
    color: black;
    text-decoration: underline;
}

.model3Buttons, .modelyButtons, .modelsButtons, .modelxButtons, .panelsButtons, .roofButtons, .accsButtons {
    margin-top: 35%;
    display: inline-block;
    flex-direction: column;
    align-items: center;
}

.model3Leftbtn, .modelyLeftbtn, .modelsLeftbtn, .modelxLeftbtn, .panelsLeftbtn, .roofLeftbtn {
    border-radius:360px;
    height:40px;
    width: 260px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    margin-left: 35vw;
    color:white;
    background-color: black;
    
}

.model3Rightbtn, .modelyRightbtn, .modelsRightbtn, .modelxRightbtn, .panelsRightbtn, .roofRightbtn {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    height:40px;
    width: 260px;
    border-radius:360px;
    color:black;
    background-color: white;
    
}

.accsLeftbtn {
    border-radius:360px;
    height:40px;
    width: 260px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
    margin-left: 43vw;
    color:white;
    background-color: black;
}
/*!********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/Appstart.css ***!
  \********************************************************************/
.homeContainer {
    width: 100vw;
    height: 100vh;
    display: flex;
}
/*!*********************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js!./src/index.css (1) ***!
  \*********************************************************************/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: black;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.btn {
    padding: 12px 32px;
    font-size: 1.2rem;
    text-transform: uppercase;
    background: transparent;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.btn-light {
    background: rgba(255, 255, 255, .2);
}

.btn:hover {
    background: rgba(255, 255, 255, .2);
}


